<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <span class="navbar-brand d-flex align-items-center gap-2">
       Library Control
    </span>
    <div class="navbar-nav ms-auto flex-row gap-2">
      <a class="nav-link" routerLink="/inicio" routerLinkActive="active">Inicio</a>
      <a class="nav-link" routerLink="/catalogo" routerLinkActive="active">Catslogo</a>
      <a class="nav-link" routerLink="/registro" routerLinkActive="active">Registro de libros</a>
    </div>
  </div>
</nav>